*.o
*.gcda
*.gcno

src/main
test/*_test
test/flag
.DS_Store
main-mac
scratch/lib.bc
scratch/lib.ll
scratch/main.ll
scratch/main.bc
scratch/main
a.out
test.bc
test.ll

lib/mini-ilisp/tests/equals-test
lib/mini-ilisp/tests/*.bc
lib/mini-ilisp/tests/*.ll
lib/mini-ilisp/tests/flag
